*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div{
  height: 100vh;
}

.image-slider{
  position:relative;
  height: 50%;
  width: 100%;
  top: 25%;
}

img{
  height: 100%;
  width:100%;
}

button{
  position: absolute;
  height: 100%;
  background-color: black;
  width: 10%;
  opacity: 0.5;
  border: none;
  z-index: 1;
  cursor: pointer;
}

button>span{
  opacity: 1;
  color:aliceblue;
}

.left-button{
  right: 0%;
}

@media screen and (min-width: 768px) {
  .image-slider{
    width: 45%;
    left: 25%
  }
}